{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white card-radius">
                    <div class="card-body p-5 text-center">

                        <div class="col-md-8 mt-3 offset-md-2">

                            <h2 class="fw-bold mb-2 text-uppercase">{% trans "Sign Up" %}</h2>
                            <p class="text-white-50 mb-5">Please enter your data and password!</p>

                            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}" />
                                {% endif %}
                                
                                <button class="btn btn-signup right" id="sign-in-btn" type="submit">{% trans "Sign Up" %}</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}