#home-navbar{
    background-color: #efdecd;
}

#logo-nav{
    font-family: 'Carter One', cursive;
}

#logo{
    font-family: 'Carter One', cursive;
    text-align: center;
    margin-top: 2%;
}

#book-list-homepage{
    margin: 2%;
}

#dropdown-searsh {
    margin-top: 5%;
}

body {
    background-image: url(https://res.cloudinary.com/djmk0qtgj/image/upload/v1669404338/bg-image_fwlbj8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


footer {
    background-color: #e5d9d9
}