{% extends "base.html" %}

{% block content %}



<div class="container-fluid">
  <h1 id="logo">Finance</h1>
</div>

<div class="conteiner">
  <div class="col-6-md-auto bg-white">
    <h2 class="text-center">1-Rich Dad Poor Dad</h2>
  </div>
  <div class="row justify-content-md-center m-0">
    <div class="col-md-3 bg-white">
      <img
        src="https://res.cloudinary.com/djmk0qtgj/image/upload/c_scale,q_100,r_0,w_166/v1668350852/rich-dad-poor-dad_feajxj.jpg"
        alt="Rich dad poor dad book cover" class="mx-auto d-block">
    </div>
    <div class="col-md-6 bg-white">
      <p>Rich Dad Poor Dad is a 1997 book written by Robert T. Kiyosaki and Sharon Lechter. It advocates the importance
        of financial literacy (financial education), financial independence and building wealth through investing in
        assets, real estate investing, starting and owning businesses, as well as increasing one's financial
        intelligence (financial IQ).

        Rich Dad Poor Dad is written in the style of a set of parables, ostensibly based on Kiyosaki's life.[1] The
        titular "rich dad" is his friend's father who accumulated wealth due to entrepreneurship and savvy investing,
        while the "poor dad" is claimed to be Kiyosaki's own father who he says worked hard all his life but never
        obtained financial security.</p>
    </div>

  </div>
  <div class="row justify-content-md-center m-0 bg-white">
    <div class="col">
      <div class="btn"><i class="fa-regular fa-heart"></i></div>
      <div class="btn">Buy</div>
      <div class="btn">fav</div>
      <div class="btn">comments</div>
    </div>

  </div>

</div>

{%endblock%}