{% extends "base.html" %}

{% block content %}


<div class="container py-5">
  <div class="row text-center mb-5">
    <div class="col-lg-7 mx-auto">
      <h1 class="display-4" id="logo">Top 5 Finance Books</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <!-- List group-->
      <ul class="list-group shadow">
        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">1-Rich Dad Poor Dad</h5>
              <p class="font-italic text-muted mb-0 small">Rich Dad Poor Dad is a 1997 book written by Robert T.
                Kiyosaki and Sharon Lechter. It advocates the importance
                of financial literacy (financial education), financial independence and building wealth through
                investing in
                assets, real estate investing, starting and owning businesses, as well as increasing one's financial
                intelligence (financial IQ).

                Rich Dad Poor Dad is written in the style of a set of parables, ostensibly based on Kiyosaki's life.[1]
                The
                titular "rich dad" is his friend's father who accumulated wealth due to entrepreneurship and savvy
                investing,
                while the "poor dad" is claimed to be Kiyosaki's own father who he says worked hard all his life but
                never
                obtained financial security.</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <div class="row justify-content-md-center m-0">

                  <div class="btn"><i class="fa-regular fa-heart"></i></div>
                  <div class="btn">Buy</div>
                  <div class="btn">fav</div>
                  <div class="btn">comments</div>


                </div>

              </div>
            </div><img
              src="https://res.cloudinary.com/djmk0qtgj/image/upload/c_scale,q_100,r_0,w_166/v1668350852/rich-dad-poor-dad_feajxj.jpg"
              alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2 mx-auto d-block">
          </div> <!-- End -->
        </li> <!-- End -->
        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">1-Rich Dad Poor Dad</h5>
              <p class="font-italic text-muted mb-0 small">Rich Dad Poor Dad is a 1997 book written by Robert T.
                Kiyosaki and Sharon Lechter. It advocates the importance
                of financial literacy (financial education), financial independence and building wealth through
                investing in
                assets, real estate investing, starting and owning businesses, as well as increasing one's financial
                intelligence (financial IQ).

                Rich Dad Poor Dad is written in the style of a set of parables, ostensibly based on Kiyosaki's life.[1]
                The
                titular "rich dad" is his friend's father who accumulated wealth due to entrepreneurship and savvy
                investing,
                while the "poor dad" is claimed to be Kiyosaki's own father who he says worked hard all his life but
                never
                obtained financial security.</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <div class="row justify-content-md-center m-0">

                  <div class="btn"><i class="fa-regular fa-heart"></i></div>
                  <div class="btn">Buy</div>
                  <div class="btn">fav</div>
                  <div class="btn">comments</div>


                </div>

              </div>
            </div><img
              src="https://res.cloudinary.com/djmk0qtgj/image/upload/c_scale,q_100,r_0,w_166/v1668350852/rich-dad-poor-dad_feajxj.jpg"
              alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2 mx-auto d-block">
          </div> <!-- End -->
        </li> <!-- End -->
      </ul> <!-- End -->
    </div>
  </div>
</div>

{%endblock%}