{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row text-center mb-5 container-fluid">
  <div class="col-lg-7 mx-auto">
    <!-- Page title -->
    <h1 class="display-4" id="logo">Leadership Books</h1>
  </div>
</div>

<!-- Books list -->
<div class="row container-fluid">
  <div class="col-lg-8 mx-auto">


    <!-- List group -->

    {% for book in book_list %}
    {% if book.status %}
    <!-- Book list -->
    <div class="border border-dark book-list">
      <ul class="list-group shadow">
        <li class="list-group-item" id="{{ book.slug }}">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <!-- Book Title -->
              <h2 class="mt-0 font-weight-bold mb-2 text-center">{{ book.title }}</h2>
              <p class="font-italic text-muted mb-0 small">
                <!-- Book Description -->
                {{ book.content | safe }}
              </p>

              <div class=" container d-flex align-items-center justify-content-between mt-1">
                <div class="row content-md m-0">

                  <!-- Like Button -->
                  <strong class="likes">
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'book_like' book.slug %}" method="POST">
                      {% csrf_token %}
                      {% if liked %}
                      <button type="submit" name="book_id" value="{{book.slug}}" class="btn-like"
                        aria-label="Dislike button">
                        <i class="fa-solid fa-heart"></i></button>
                      {% else %}
                      <button type="submit" name="book_id" value="{{book.slug}}" class="btn-like"
                        aria-label="Like button">
                        <i class="fa-regular fa-heart"></i></button>
                      {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="fa-solid fa-heart"></i></span>
                    {% endif %}
                    <!-- Number of likes -->
                    <span class="text-secondary">{{ book.number_of_likes }} </span>
                  </strong>


                  <!-- Buy Book Button -->
                  <div type="button" class="btn-sm"><a href="{{ book.buy_button }}" class="btn btn-dark" role="button"
                      target="_blank">Buy Book</a></div>


                  <!-- Book Comments -->
                  {% with book.comments.count as total_comments %}
                  <div>
                    <div class="card" id="headingOne">
                      <p class="mb-0">
                        <button class="btn" data-toggle="collapse" data-target="#collapse{{ book.title }}"
                          aria-expanded="false" aria-controls="collapse{{ book.title }}">
                          <i class="fa-regular fa-comment"></i> {{ total_comments }} Comments
                        </button>
                      </p>
                    </div>
                    {% endwith %}

                    <div id="collapse{{ book.title }}" class="collapse overflow-auto"
                      aria-labelledby="heading{{ book.title }}" data-parent="#accordion">
                      <div class="card-body">

                        <!-- Comment Form -->
                        {% if user.is_authenticated %}
                        <form class="blueForms" method="post" action="{% url 'comment' book.id %}">
                          {% csrf_token %}
                          {{ comment_form | crispy }}
                          <button type="submit" class="btn btn-signup btn-sm">Submit Comment</button>
                        </form>
                        {% endif %}

                        {% for comment in book.comments.all %}
                        {% if comment in comments %}
                        <div class="comments book-comments">
                          <p class="font-weight-bold">
                            <!-- Comment name -->
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                              <!-- Comments created date -->
                              {{ comment.created_on }}
                            </span> wrote:
                          </p>
                          <!-- Comment body -->
                          <p>{{ comment.body | linebreaks }}</p>

                          <!-- Edite and Delete Buttons -->
                          {% if request.user.username == comment.name %}
                          <div class="row container">
                            <div class="col-5">
                              <a class="btn btn-primary btn-sm" href="/edit/{{ comment.id }}">Edit</a>
                            </div>
                            <div class="col-5">
                              <a class="btn btn-danger btn-sm" href="/delete/{{ comment.id }}">Delete</a>
                            </div>
                          </div>
                          {% endif %}

                        </div>

                        {% endif %}
                        {% endfor %}

                      </div>
                      <!-- Button to top of the comments -->
                      <div class="row container">
                        <div type="button" class="btn mx-auto btn-sm"><a href="#collapse{{ book.title }}"
                            class="text-decoration-none">Back to top</a></div>
                      </div>


                    </div>
                  </div>


                </div>

              </div>
            </div>
            <!-- Book Image -->
            {% if "placeholder" in book.featured_image.url %}
            <img class="ml-lg-5 order-1 order-lg-2 mx-auto d-block"
              src="https://res.cloudinary.com/djmk0qtgj/image/upload/v1668793432/standard_book_cover_sby567.jpg"
              alt="{{ book.title }}" width="200">
            {% else %}
            <img src="{{ book.featured_image.url }}" alt="{{ book.title }}" width="200"
              class="ml-lg-5 order-1 order-lg-2 mx-auto d-block">
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
    {% endif %}
    {% endfor %}

    >
  </div>
</div>
{% endblock %}